<button class="btn btn-success" data-target="#cat_modal" data-toggle="modal">Add</button>
<table id="tbl_category" class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<!-- The Modal -->
<div class="modal" id="cat_modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add Category</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form id="frm_cat">
                    <div class="form-group">
                        <label for="cat">Category Name:</label>
                        <input type="text" class="form-control" placeholder="Enter Category" id="cat">
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-success" id="btn_add">Add Caetgory</button>
                    </div>
                </form>

            </div>

            <!-- Modal footer -->
            <!--<div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>-->

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#btn_add").click(function () {
            //var frm = document.forms[0];
            //var data = new FormData(frm)
            $.post('@Url.Action("AddCategory","Product")', { "name": $("#cat").val() }, function (result) {
                console.log(result)
            })

        })
    })
</script>










